@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

*::-webkit-scrollbar {
  background-color: initial;
}
*::-webkit-scrollbar {
  width: 0.5rem!important;
}
*::-webkit-scrollbar {
  height: 0.375rem!important;
}
*::-webkit-scrollbar-thumb {
  background-color: #64748b80!important;
}
*::-webkit-scrollbar-thumb {
  --tw-bg-opacity: 1!important;
  background-color: rgb(203 213 213/var(--tw-bg-opacity))!important;
}
*::-webkit-scrollbar-thumb {
  border-radius: 0.25rem!important;
}
*::-webkit-scrollbar-track {
  background-color: #64748b29!important;
}
*::-webkit-scrollbar-track {
  --tw-bg-opacity: 1!important;
  background-color: rgb(241 245 249/var(--tw-bg-opacity))!important;
}
*::-webkit-scrollbar-track {
  border-radius: 0.25rem!important;
}